
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<a class="btn btn-lg FAB" href="{% url 'donate' %}">
  Donate<br><i  class="fas fa-hand-holding-heart"></i><br>Now!

</a>

	<div class="page-heading text-center">

		<div class="container zoomIn animated">

			<h1 class="page-title">OUR CERTIFICATES <span class="title-under"></span></h1>
			<p class="page-description">
			</p>

		</div>

	</div>
	<div >
		<img src="assets\images\building.gif" alt="">
	</div>
    


{% endblock %}
