{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <body>

    <a class="btn btn-lg FAB" href="{% url 'donate' %}">
      Donate<br><i style="color: #1F76BD;" class="fas fa-hand-holding-heart"></i><br>Now!

    </a>

	<div class="page-heading text-center">

		<div class="container zoomIn animated">

			<h1 class="page-title">GALLERY <span class="title-under"></span></h1>
			<p class="page-description">
			</p>

		</div>

	</div>

	<div class="main-container">
    <h2 style="margin-top: 100px;" class="title-style-1">Lives Touched &#x2764;	<span class="title-under"></span></h2>

		<div class="container gallery fadeIn animated">

			<div class="row-gallery">


					<a href="assets/images/gallery/7610291856_931fb9f461_k.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img class src="{% static 'assets/images/travancore/_MG_9016.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 </a><!-- <! /.gallery-item -->

					<a href="assets/images/gallery/children-82272_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9051.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 <!-- /.gallery-item -->
</a>

					<a href="assets/images/gallery/human-rights.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_8991.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 <!-- /.gallery-item -->

</a>
					<a href="assets/images/gallery/old-books-436498_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_8993.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 <!-- /.gallery-item -->
</a>
					<a href="assets/images/gallery/hunger-682834_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9004.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					</a> <! /.gallery-item -->

					<a href="assets/images/gallery/africa-education.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9054.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span>

					<!/.gallery-item -->
</a>

					<a href="assets/images/gallery/afghani-60798_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9021.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					  </a> <!--<! /.gallery-item  -->

					<a href="assets/images/gallery/boy-60729_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9023.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 </a><!-- <!-/.gallery-item -->


					<a href="assets/images/gallery/child-207573_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9026.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					</a>


					<a href="assets/images/gallery/children-60654_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

						<img src="{% static 'assets/images/travancore/_MG_9048.JPG' %}" alt="">

						<!-- <span class="on-hover">
							<span class="hover-caption">Image Caption</span>
						</span> -->

					 <!-- /.gallery-item -->
         </a>

         <a href="assets/images/gallery/children-60654_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

           <img src="{% static 'assets/images/travancore/_MG_8933.JPG' %}" alt="">

           <!-- <span class="on-hover">
             <span class="hover-caption">Image Caption</span>
           </span> -->

          <!-- /.gallery-item -->
        </a>

        <a href="assets/images/gallery/children-60654_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox">

          <img src="{% static 'assets/images/travancore/_MG_9053.JPG' %}" alt="">

          <!-- <span class="on-hover">
            <span class="hover-caption">Image Caption</span>
          </span> -->

         <!-- /.gallery-item -->
       </a>

					<!-- <a href="assets/images/gallery/girl-62328_1280.jpg" class="col-md-4 col-sm-3 gallery-item lightbox"> -->

						<!-- <img src="{% static 'assets/images/gallery/thumb/girl-62328_1280.jpg' %}" alt=""> -->

						<!-- <span class="on-hover">
							<span class="hover-caption"></span>
						</span> -->

					 <!-- /.gallery-item -->


			</div>

		</div>


	</div> <!-- /.main-container  -->


    </body>

    {% endblock %}
