{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <!-- Carousel
    ================================================== -->
    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img style="height: 620px; object-fit: cover;" src="{% static 'assets/images/travancore/_MG_9021.jpg' %}" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" style="background-color:#404040cc";>Because they need your help</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow "style="background-color:#404040cc">Do not let them down</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->


            <div class="item ">

            <img style="height: 660px; object-fit: cover;" src="{% static 'assets/images/travancore/_MG_9016.jpg' %}" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" style="background-color:#404040cc";>Together we can improve their lives</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow" style="background-color:#404040cc"> So let's do it !</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->




            <div class="item ">

            <img style="height: 620px; object-fit: cover;" src="{% static 'assets/images/travancore/_MG_9026.jpg' %}" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" style="background-color:#404040cc"; >A penny is a lot of money, if you have not got a penny.</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow"style="background-color:#404040cc">You can make the difference !</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->

          </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div><!-- /.carousel -->



    <a class="btn btn-lg FAB" href="{% url 'donate' %}">
      Donate<br><i class="fas fa-hand-holding-heart "></i><br>Now!

    </a>


    <div style="background: #dedede;" class="section-home about-us fadeIn animated">

        <div style="
        padding-top: 50px;
        padding-bottom: 50px;" class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper ">
                          <i style="color: #e8a443;" class="fas fa-bullseye fa-6x"></i>
                        </div>
                        <h3 class="col-title">our mission</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'about' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-piggy-bank fa-6x"></i>
                        </div>
                        <h3 class="col-title">Donations</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'donate' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-handshake fa-6x"></i>
                        </div>
                        <h3 class="col-title">Help & support</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'contact' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-puzzle-piece fa-6x"></i>
                        </div>
                        <h3 class="col-title">our programs</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'project' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>



            </div>

        </div>

    </div> <!-- /.about-us -->
    <div class="section-home home-reasons">
      <h2 style="margin-top: 100px;" class="title-style-1">WHAT WE DO<span class="title-under"></span></h2>

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/travancore/_MG_9026.jpg' %}">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">We fight together</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>


                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/travancore/_MG_9021.jpg' %}" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">WE care about others</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                        </div>


                    </div>

                </div>


            </div>



        </div>


    </div> <!-- /.home-reasons -->
    <div class="section-home home-reasons">

      <div class="container">

          <div class="row">

              <div class="col-md-6">

                  <div class="reasons-col animate-onscroll fadeIn">

                      <img src="{% static 'assets/images/travancore/_MG_8993.jpg' %}" alt="">

                      <div class="reasons-titles">

                          <h3 class="reasons-title">We stand for each other</h3>
                          <h5 class="reason-subtitle">We are humans</h5>

                      </div>

                      <div class="on-hover hidden-xs">

                              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                      </div>
                  </div>

              </div>


              <div class="col-md-6">

                  <div class="reasons-col animate-onscroll fadeIn">

                      <img src="{% static 'assets/images/travancore/_MG_9054.jpg' %}" alt="">

                      <div class="reasons-titles">

                          <h3 class="reasons-title">We make a change</h3>
                          <h5 class="reason-subtitle">We are humans</h5>

                      </div>

                      <div class="on-hover hidden-xs">

                              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                      </div>


                  </div>

              </div>


          </div>



      </div>


  </div> <!-- /.home-reasons -->
  <!-- Up counter-->

  <section id="counter" >
    <div class="container">
      <div class="column">
          <div class="card">
            <p><i class="fa fa-user"></i></p>
            <div id="updateNum1"></div>
            <p>Lives Touched</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <p><i class="fa fa-check"></i></p>
            <div id="updateNum2"></div>
            <p>Our Projects</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <div id="updateNum3"></div>
            <p>Number of Views</p>
          </div>
        </div>

  <!-- <div class="column">
    <div class="card">
      <p><i class="fa fa-coffee"></i></p>
      <h3>100+</h3>
      <p>Meetings</p>
    </div>
  </div> -->
</div>


    <!-- <div style="margin-right: 0px;" class="row">
      <div id="block">
        <div class="container" >
              <div class="column-center">
                <div id="updateNum2"></div>
                <div id="row2">
                  Our Projects
                </div>
              </div>

              <div class="column-left">
                <div id="updateNum1"></div>
                <div id="row1">
                  Lives Touched
                </div>
              </div>

              <div class="column-right">
                <div id="updateNum3"></div>
                <div id="row3">
                  Number of Views
                </div>
              </div>

          </div>
        </div>
      </div>-->
    </section>


    <!-- <div style="background: #dedede; padding: 30px;" class="section-home our-sponsors animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1">Our Sponsors <span class="title-under"></span></h2>

            <ul class="owl-carousel list-unstyled list-sponsors">

              <li> <img src="{% static 'assets/images/sponsors/bus.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikimedia.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/one-world.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikiversity.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/united-nations.png' %}" alt=""></li>

              <li> <img src="{% static 'assets/images/sponsors/bus.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikimedia.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/one-world.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikiversity.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/united-nations.png' %}" alt=""></li>

            </ul>

        </div>


    </div> <!-- /.our-sponsors --> -->

    <script type="text/javascript">
      var myCounter = 0;
      var view_counter = "{{counter}}";
      console.log(view_counter);


        $(document).ready(function() {

            /* Every time the window is scrolled ... */
            $(window).scroll( function(){

                /* Check the location of each desired element */
                $('#counter').each( function(i){

                    var bottom_of_object = $(this).position().top + $(this).outerHeight();
                    var bottom_of_window = $(window).scrollTop() + $(window).height();

                    /* If the object is completely visible in the window, fade it in */
                    if( bottom_of_window > bottom_of_object ){

                        myCounter++;
                        if(myCounter == 1){
                          var num1 = 0;
                          var num2 = 0;
                          var num3 = 0;
                          var counter1 = 0;
                          var counter2 = 0;
                          var counter3 = 0;

                          var elem1 = document.getElementById("updateNum1");
                          setInterval(change1, 30);

                          function change1() {
                            if (num1 <= 200) {
                              elem1.innerHTML = num1.toString();
                              num1++;
                              counter1 = 0;
                            }
                          }

                          var elem2 = document.getElementById("updateNum2");
                          setInterval(change2, 50);

                          function change2() {
                            if (num2 <= 15) {
                              elem2.innerHTML = num2.toString();
                              num2++;
                              counter2 = 0;
                            }
                          }

                          var elem3 = document.getElementById("updateNum3");
                          setInterval(change3, 50);

                          function change3() {
                            if (num3 <= view_counter) {
                              elem3.innerHTML = num3.toString();
                              num3++;
                              counter3 = 0;
                            }
                          }

                        }

                    }

                });

            });

        });

    </script>
    {% if submitted %}
        <script type="text/javascript">
          alert("Your request has been received successfully! We will get back to you as soon as possible.");
        </script>

  {% endif %}

{% endblock %}
