{% extends 'base.html' %}
{% load static %}
{% block body_block %}
    <!-- Carousel
    ================================================== -->

    <!-- alert-messages -->
                        <div style="width:100%; margin-left: 1px;" class="row">
                          {% if messages %}
                              {% for message in messages %}
                              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                              {% endfor %}
                          {% endif %}
                        </div>
                  <!-- alert-messages-ends -->

    <div id="homeCarousel" class="carousel slide carousel-home" data-ride="carousel">

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">

            <div class="item active">

              <img style="height: 620px; object-fit: cover;" src="https://images.unsplash.com/photo-1537531653369-236e00309977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow">Because they need your help</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow ">Do not let them down</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->


            <div class="item ">

            <img style="height: 620px; object-fit: cover;" src="https://images.unsplash.com/photo-1518131296958-df44106fd0ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow">Together we can improve their lives</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow"> So let's do it !</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->




            <div class="item ">

            <img style="height: 620px; object-fit: cover;" src="https://images.unsplash.com/photo-1530490125459-847a6d437825?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=763&q=80" alt="">

              <div class="container">

                <div class="carousel-caption">

                  <h2 class="carousel-title bounceInDown animated slow" >A penny is a lot of money, if you have not got a penny.</h2>
                  <h4 class="carousel-subtitle bounceInUp animated slow">You can make the diffrence !</h4>
                  <a href="{% url 'donate' %}" class="btn btn-lg btn-secondary hidden-xs bounceInUp animated slow" data-toggle="modal">DONATE NOW</a>

                </div> <!-- /.carousel-caption -->

              </div>

            </div> <!-- /.item -->

          </div>

          <a class="left carousel-control" href="#homeCarousel" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control" href="#homeCarousel" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

    </div><!-- /.carousel -->



    <a class="btn btn-lg FAB" href="{% url 'donate' %}">
      Donate<br><i style="color: #1F76BD;" class="fas fa-hand-holding-heart"></i><br>Now!

    </a>


    <div style="background: #dedede;" class="section-home about-us fadeIn animated">

        <div style="
        padding-top: 50px;
        padding-bottom: 50px;" class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper ">
                          <i style="color: #e8a443;" class="fas fa-bullseye fa-6x"></i>
                        </div>
                        <h3 class="col-title">our mission</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'about' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-piggy-bank fa-6x"></i>
                        </div>
                        <h3 class="col-title">Donations</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'donate' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-handshake fa-6x"></i>
                        </div>
                        <h3 class="col-title">Help & support</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'contact' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>


                <div class="col-md-3 col-sm-6">

                  <div class="about-us-col">

                        <div class="col-icon-wrapper">
                          <i style="color: #e8a443;" class="fas fa-puzzle-piece fa-6x"></i>
                        </div>
                        <h3 class="col-title">our programs</h3>
                        <div class="col-details">

                          <p>Lorem ipsum dolor sit amet consect adipisscin elit proin vel lectus ut eta esami vera dolor sit amet consect</p>

                        </div>
                        <a href="{% url 'project' %}" class="btn btn-primary"> Read more </a>

                  </div>

                </div>



            </div>

        </div>

    </div> <!-- /.about-us -->
    <div class="section-home home-reasons">
      <h2 style="margin-top: 100px;" class="title-style-1">WHAT WE DO<span class="title-under"></span></h2>

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/test-images/ben-koorengevel-sjuLxUOEMY8-unsplash.jpg' %}">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">We fight together</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>


                        </div>
                    </div>

                </div>


                <div class="col-md-6">

                    <div class="reasons-col animate-onscroll fadeIn">

                        <img src="{% static 'assets/images/test-images/mark-chaves-9322BcAazXM-unsplash.jpg' %}" alt="">

                        <div class="reasons-titles">

                            <h3 class="reasons-title">WE care about others</h3>
                            <h5 class="reason-subtitle">We are humans</h5>

                        </div>

                        <div class="on-hover hidden-xs">

                                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                        </div>


                    </div>

                </div>


            </div>



        </div>


    </div> <!-- /.home-reasons -->
    <div class="section-home home-reasons">

      <div class="container">

          <div class="row">

              <div class="col-md-6">

                  <div class="reasons-col animate-onscroll fadeIn">

                      <img src="{% static 'assets/images/test-images/ben-koorengevel-sjuLxUOEMY8-unsplash.jpg' %}" alt="">

                      <div class="reasons-titles">

                          <h3 class="reasons-title">We stand for each other</h3>
                          <h5 class="reason-subtitle">We are humans</h5>

                      </div>

                      <div class="on-hover hidden-xs">

                              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                      </div>
                  </div>

              </div>


              <div class="col-md-6">

                  <div class="reasons-col animate-onscroll fadeIn">

                      <img src="{% static 'assets/images/test-images/mark-chaves-9322BcAazXM-unsplash.jpg' %}" alt="">

                      <div class="reasons-titles">

                          <h3 class="reasons-title">We make a change</h3>
                          <h5 class="reason-subtitle">We are humans</h5>

                      </div>

                      <div class="on-hover hidden-xs">

                              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur praesentium, itaque facilis nesciunt ab omnis cumque similique ipsa veritatis perspiciatis, harum ad at nihil molestias, dignissimos sint consequuntur. Officia, fuga.</p>

                      </div>


                  </div>

              </div>


          </div>



      </div>


  </div> <!-- /.home-reasons -->
  <!-- Up counter-->

  <section id="counter" >
    <div class="container">
      <div class="column">
          <div class="card">
            <p><i class="fa fa-user"></i></p>
            <div id="updateNum1"></div>
            <p>Lives Touched</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <p><i class="fa fa-check"></i></p>
            <div id="updateNum2"></div>
            <p>Our Projects</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <p><i class="fa fa-smile-o"></i></p>
            <div id="updateNum3"></div>
            <p>Number of Views</p>
          </div>
        </div>

  <!-- <div class="column">
    <div class="card">
      <p><i class="fa fa-coffee"></i></p>
      <h3>100+</h3>
      <p>Meetings</p>
    </div>
  </div> -->
</div>


    <!-- <div style="margin-right: 0px;" class="row">
      <div id="block">
        <div class="container" >
              <div class="column-center">
                <div id="updateNum2"></div>
                <div id="row2">
                  Our Projects
                </div>
              </div>

              <div class="column-left">
                <div id="updateNum1"></div>
                <div id="row1">
                  Lives Touched
                </div>
              </div>

              <div class="column-right">
                <div id="updateNum3"></div>
                <div id="row3">
                  Number of Views
                </div>
              </div>

          </div>
        </div>
      </div>-->
    </section>


    <div style="background: #dedede; padding: 30px;" class="section-home our-sponsors animate-onscroll fadeIn">

        <div class="container">

            <h2 class="title-style-1">Our Sponsors <span class="title-under"></span></h2>

            <ul class="owl-carousel list-unstyled list-sponsors">

              <li> <img src="{% static 'assets/images/sponsors/bus.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikimedia.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/one-world.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikiversity.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/united-nations.png' %}" alt=""></li>

              <li> <img src="{% static 'assets/images/sponsors/bus.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikimedia.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/one-world.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/wikiversity.png' %}" alt=""></li>
              <li> <img src="{% static 'assets/images/sponsors/united-nations.png' %}" alt=""></li>

            </ul>

        </div>

    </div> <!-- /.our-sponsors -->

{% endblock %}
